# sync app server

description "annotation/bookmarks synchronization app service"
author "Christopher Nelson <nadiasvertex@gmail.com>"

# When to start the service
start on runlevel [2345]

# When to stop the service
stop on runlevel [016]

# Automatically restart process if crashed
respawn

# Start the process
exec /home/vagrant/pypy-2.5.1-linux64/bin/uwsgi --chdir=/home/vagrant/app --uid=vagrant --pypy-wsgi app --die-on-term --master --processes 2 --http-socket :8080 --stats :9191
